# Core dependencies
redis
dependency-injector
sqlalchemy
alembic
python-dotenv
psycopg2-binary
pydantic
aiosqlite
aiogram>=3.0.0,<4.0.0

# Development dependencies
pytest
pytest-asyncio
flake8
black
pytest-cov